* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  /* var(--color-bg) is a css variable for the background-color */
  background-color: var(--color-bg);
}
